/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #888181b7;
    min-height: 100vh;
}