/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #c09898b7;
    min-height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input-field h3 + form + h3 {
    margin-top: 30px;
}

input{
    padding: 3.5px;
    border-radius: 3px;
    border: #958484b7 solid 1.5px;
}

button{
    padding: 6px;
    border-radius: 4px;
    border: none;
    background: rgb(170, 123, 123);
    min-width: 80px;
}

button:hover{
    background: rgb(137, 101, 101);
    cursor: pointer;
}

textarea, select {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #958484b7;
}

.container{
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.page-head{
    margin-bottom: 30px;
    margin-left: 20px;
}

.page-body{
    display: flex;
    gap: 36px;
}

.input-field{
    width: 30%;
    padding: 10px;
}

.display-field{
    width: 70%;
    padding: 10px;
}

.task-item{
    border: #b9a0a0b7 solid;
    border-radius: 15px;
    padding: 7.5px 12px;
    margin-bottom: 10px;
    background: white;
}

.badge {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

/* Status colors */
.todo {
    background: gray;
}

.doing {
    background: orange;
}

.done {
    background: green;
}

