/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #c09898b7;
    min-height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input-field h3 + form + h3 {
    margin-top: 30px;
}

input {
    padding: 3.5px;
    border-radius: 3px;
    border: #958484b7 solid 1.5px;
}

button {
    padding: 6px;
    border-radius: 4px;
    border: none;
    background: rgb(199, 150, 150);
    min-width: 80px;
}

button:hover {
    background: rgb(179, 132, 132);
    cursor: pointer;
}

textarea, select {
    padding: 6px;
    border-radius: 4px;
    border: 1px solid #958484b7;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.page-head {
    margin-bottom: 30px;
    margin-left: 20px;
}

.page-body {
    display: flex;
    gap: 36px;
}

.input-field {
    flex: 3;
    padding: 10px;
}

.display-field {
    flex: 7;
    padding: 10px;
}

.task-item {
    border: #b9a0a0b7 solid;
    border-radius: 15px;
    padding: 7.5px 12px;
    margin-bottom: 10px;
    background: white;
    transition: 0.4s ease;
}

.task-item > * {
    margin-bottom: 8px;
}

.task-item > *:last-child {
    margin-bottom: 0;
}

.task-item:hover {
    background-color: ivory;
}

input:focus, textarea:focus, select:focus {
    background-color: ivory;
}

.badge {
    display: inline-block;
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    color: white;
}

/* Status colors */
.todo {
    background: gray;
}

.doing {
    background: orange;
}

.done {
    background: green;
}

@media (max-width: 768px) {
    .page-body {
        flex-direction: column;
    }

    button {
        width: 100%;
    }
}
